.slides-wrapper img {
height: 64vh;
border-radius: 10px;
width: 260px;
}

.slides-one-two {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  position: absolute;
}

.slides-three-four {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  position: relative;
}

.slides-five-six {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  z-index: 2;
  position: relative;
  margin-block-start: -64vh;
  opacity: 0;
}


.visible {
  opacity: 1;
  z-index: 3;
}

.hidden {
  opacity: 0;
  z-index: 0;
}
