.slides-wrapper-cw {
  img {
    height: 64vh;
    border-radius: 10px;
    width: 260px;
  }

  .slides-one-two {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 1vw;
  }

  .slides-three-four {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1vw;
  }

  .slides-five-six {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1vw;
    // z-index: 2;
    margin-block-start: -64vh;
    // opacity: 0;
  }
}

.carousel-arrow-cw {
  display: flex;
  margin-top: 32vh;
}

.carousel-arrow-cw.left {
  opacity: 0;
  margin-right: -5px;
}

.carousel-arrow-cw.right {
  opacity: 1;
  margin-left: -5px;
}
