// Specific CSS for your home-page

.main-container {
  margin: 5vw;

  .about-card {
    display: flex;
    flex-direction: row;
    border: 1px solid black;

    .about-picture {
      border: 1px solid black;
      width: 20vw;
      height: 20vw;
    }

    .about-text {
      border: 1px solid black;
    }
  }

  .skills-icon-card {
    display: flex;
    flex-direction: row;

    .skills-icon {
      width: 3vw;
      margin-inline: 1vw;
    }
  }

  .project-preview-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .project-preview-card {
      border: 1px solid $red;
      width: 30vw;
      height: 30vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .project-preview-pic {
        width: 25vw;
      }
    }
  }
}
