// Specific CSS for your home-page

.main-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;

  .intro-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 0;

    p {
      font-size: 18px;
      font-weight: 600;
      color: $red;
    }

  }

  .section-title {
    background-color: $light-sand;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }

    h2 {
      padding-inline: 1.5rem;

      &:hover {
        cursor: pointer;
        letter-spacing: 0.2rem;
      }
    }

  }

  .about-card-hidden {
    display: flex;
    flex-direction: column;


    .about-title-picture {
      display: flex;
      justify-content: center;
      align-items: center;


      .about-picture {
        width: 15.5rem;
        height: 15.5rem;
        position: relative;
        z-index: 1;
        border-radius: 50px;
        box-shadow: 0px 0px 3px 2px $light-sand;
        cursor: pointer;
      }

        .about-section-title {
          position: absolute;
          z-index: 2;

          h2 {
            color: #FBF8F1E5;
            padding-inline: 1.5rem;
            letter-spacing: 0.1rem;
            cursor: pointer;

            &:hover {
              color: white;
              font-size: 26px;
            }
          }
        }

    }
  }

  .about-card-full {
    display: none;
    flex-direction: row;
    align-items: center;
    border: 4px solid $light-sand;
    background-color: $light-sand;
    height: 15rem;
    border-radius: 50px;

      .about-picture {
        width: 15rem;
        height: 15rem;
        position: relative;
        z-index: 1;
        border-radius: 50px;
      }

      .about-text {
        margin: 0 auto;
        padding: 3vw;
      }
    }


  .skills-card {
    h4 {
      font-size: 20px;
      margin-top: 0.8em;
    }

    .skills-details {
      display: none;
      background-color: $light-sand;
      border-radius: 50px;
      padding: 1.5rem;
      margin-top: 3vh;

      .skills-icon-card {
        display: flex;
        flex-direction: row;

        .skills-icon {
          width: 3vw;
          margin-inline: 1vw;
        }
      }
    }
  }

  .project-preview-container {
    margin-top: 5vh;

    .project-preview-grid {
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 3vh;
      }

      .project-preview-card {
        background-color: $light-sand;
        box-shadow: 0px 0px 3px 2px #F6728066;
        width: 25vw;
        height: 20vw;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .project-preview-pic {
          width: 20vw;
          border-radius: 5px;

          &:hover {
            width: 21vw;
          }
        }
      }
  }

}
