// Specific CSS for your home-page

.main-container {
  margin: 5vw;

  .about-card {
    display: flex;
    flex-direction: row;
    border: 1px solid black;

    .about-picture {
      border: 1px solid black;
      width: 20vw;
      height: 20vw;
    }

    .about-text {
      border: 1px solid black;
    }
  }

  .skills-icon-card {
    display: flex;
    flex-direction: row;

    .skills-icon {
      width: 3vw;
      margin-inline: 1vw;
    }
  }

  .project-preview-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
