<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <button type="button" class="btn-close" aria-label="Close" onclick="this.parentElement.style.display='none';">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class= "text"><%= message %></div>
  </div>
<% end %>
