<div class="navbar-style">
  <div class="nav-home">
    <%= link_to "Home", root_path, class:"nav-link" %>
  </div>
  <div class="nav-projects-touch">
    <div class="nav-project">
      <div class="dropdown">
        <a class="nav-link dropdown-content" href="#"><%= link_to "CultureWeb", cultureweb_path, class:"nav-link" %></a>
        <a class="nav-link dropdown-content" href="#"><%= link_to "stellarvenues.com", stellar_venues_path, class:"nav-link" %></a>
      </div>
      <a class="nav-link" href="#">My projects</a>
    </div>
    <%= link_to "Get in touch", contact_path, class:"nav-link" %>
  </div>
</div>
