<div class="navbar-style">
  <div class="nav-home">
    <a class="nav-link">Home</a>
  </div>
  <div class="nav-projects-touch">
    <div class="dropdown">
      <a class="nav-link dropdown-content" href="#"><%= link_to "CultureWeb", cultureweb_path, class:"nav-link" %></a>
      <a class="nav-link dropdown-content" href="#"><%= link_to "Amazing Venues", amazing_venues_path, class:"nav-link" %></a>
    </div>
    <a class="nav-link" href="#">My projects</a>
    <a class="nav-link" href="#">Get in touch</a>
  </div>
</div>
