<div class="navbar-style">
  <div class="nav-home">
    <a class="nav-link">Home</a>
  </div>
  <div class="nav-projects-touch">
    <a class="nav-link" href="#">My projects</a>
    <a class="nav-link" href="#">Get in touch</a>
  </div>
</div>
