<div class="project-page-container">
  <div class="project-page-text">
    <h1>Culture Web</h1>
      <br>
      
    <h2>What is it?</h2>
    <p>A centralised social platform where organisers can easily publish their small events, and people can find them just as easily.
    Each user can either create new event and join new events.</p>

    <p>Key features:</p>
      <ul>
        <li>Filtered search by date, location, name, type of events, capacity, price…</li>
        <li>Booking system</li>
        <li>Map</li>
        <li>Chat</li>
      </ul>

    <h2>How I made it?</h2>
      <p>We worked as a team of 3 during the La Wagon projects weeks. It's build with Ruby on Rails, HTML5, SCSS, Stimulus JS, Cloudinary, Heroku, Figma, Mapbox, Action Cable.</p>
    <br>

    <div class="links-logo">
      <a href="https://culture-web-b5586521c93f.herokuapp.com/users/sign_in" target="_blank"><span class="material-symbols-outlined">open_in_new</span></a>
      <a href="https://github.com/kalusydd/CultureWeb"><img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425287/github-mark_zk63wk.png" alt=""></a>
    </div>
  </div>

  <div class="project-page-pictures" data-controller="carousel">
    <span class="carousel-arrow-left" data-action="click->carousel#slideleft" data-carousel-target="arrowleft">←</span>

    <div class="slides-wrapper">
      <div class="slides-one-two visible" data-carousel-target="onetwo">
        <img class="slide-one" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425948/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.59.28_lx0lxw.png" alt="">
        <img class="slide-two" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425945/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.45.33_omu5j8.png" alt="">
      </div>

      <div class="slides-three-four" data-carousel-target="threefour">
        <img class="slide-three" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425945/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.46.09_fambd1.png" alt="">
        <img class="slide-four" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425946/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.46.53_ucrxmo.png" alt="">
      </div>

      <div class="slides-five-six" data-carousel-target="fivesix">
        <img class="slide-five" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425945/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.46.33_w3yxyf.png" alt="">
        <img class= "slide-six" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710497697/Capture_d_e%CC%81cran_2024-03-15_a%CC%80_11.12.17_mh1o2o.png" alt="">
      </div>
    </div>

     <span class="carousel-arrow-right" data-action="click->carousel#slideright" data-carousel-target="arrowright">→</span>
  </div>
</div>
