<div class="project-page-container">
  <div class="project-page-text">
    <h1>Culture Web</h1>
      <br>

    <h2>What is it?</h2>
    <p>A web application where organizers can easily publish their small events, and people can find them just as easily. It can serve as a centralized social platform where each user can both create and join events.</p>

    <p><strong>Key features:</strong></p>
      <ul>
        <li>Filtered search by date, location, name, type of events, capacity, price…</li>
        <li>Booking system</li>
        <li>Map</li>
        <li>Chat</li>
        <li>Adding/editing/deleting an event</li>
      </ul>

    <h2>How I made it?</h2>
      <p>We worked as a team of 3 during the La Wagon projects weeks, utilizing Ruby on Rails, HTML5, SCSS, Stimulus JS, Cloudinary, Heroku, Figma, Mapbox, Action Cable.</p>
    <br>

    <div class="links-logo">
      <a href="https://culture-web-b5586521c93f.herokuapp.com/users/sign_in" target="_blank"><span class="material-symbols-outlined">open_in_new</span></a>
      <a href="https://github.com/kalusydd/CultureWeb" target="_blank"><img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425287/github-mark_zk63wk.png" alt=""></a>
    </div>
  </div>

  <div class="project-page-pictures" data-controller="carousel-cw">
    <span class="carousel-arrow carousel-arrow-cw left" data-action="click->carousel-cw#slideleft" data-carousel-cw-target="arrowleft">←</span>

    <div class="slides-wrapper-cw">
      <div class="slides-one-two visible" data-carousel-cw-target="onetwo">
        <img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425948/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.59.28_lx0lxw.png" alt="">
        <img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425945/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.45.33_omu5j8.png" alt="">
      </div>

      <div class="slides-three-four" data-carousel-cw-target="threefour">
        <img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425945/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.46.09_fambd1.png" alt="">
        <img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425946/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.46.53_ucrxmo.png" alt="">
      </div>

      <div class="slides-five-six" data-carousel-cw-target="fivesix">
        <img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425945/Capture_d_e%CC%81cran_2023-12-13_a%CC%80_12.46.33_w3yxyf.png" alt="">
        <img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710497697/Capture_d_e%CC%81cran_2024-03-15_a%CC%80_11.12.17_mh1o2o.png" alt="">
      </div>
    </div>

     <span class="carousel-arrow carousel-arrow-cw right" data-action="click->carousel-cw#slideright" data-carousel-cw-target="arrowright">→</span>
  </div>
</div>
