<div class="main-container">

  <div class="intro-card">
    <div class="intro-picture">
      <img class="intro-picture" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1707947500/IMG_3238_BWcomics_atwtwr.jpg">
    </div>

    <div class="intro-text">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>

  </div>


</div>
