<div class="project-page-container">
  <div class="project-page-text">
    <h1>stellarvenues.com</h1>
      <br>

    <h2>What is it?</h2>
    <p>An AirBnB Clone where users can rent and book galaxies for their events.</p>

    <p>Key features:</p>
      <ul>
        <li>Book a galaxy</li>
        <li>Rent a galaxy</li>
        <li>Add a new galaxy to the Universe</li>
        <li>Edit/cancel bookings</li>
      </ul>

    <h2>How I made it?</h2>
      <p>We built it as a team of two during the Le Wagon project weeks, utilizing Ruby on Rails, HTML5, SCSS, Cloudinary, Heroku, and Bootstrap.</p>
    <br>

    <div class="links-logo">
      <a href="https://stellarvenues-1c59a77cab95.herokuapp.com/" target="_blank"><span class="material-symbols-outlined">open_in_new</span></a>
      <a href="https://github.com/Louise-Giraud/stellarvenues.com" target="_blank"><img src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710425287/github-mark_zk63wk.png" alt=""></a>
    </div>
  </div>

  <div class="project-page-pictures" data-controller="carousel-sv">
    <span class="carousel-arrow carousel-arrow-sv left" data-action="click->carousel-sv#slideleft" data-carousel-sv-target="arrowleft">←</span>

    <div class="slides-wrapper-sv">
      <div class="slide-one visible" data-carousel-sv-target="one">
        <img class="slide-one" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710629253/stellar1_tlwpy6.png" alt="">
      </div>

      <div class="slide-two" data-carousel-sv-target="two">
        <img class="slide-two" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710629252/stellar2_bx0wyu.png" alt="">
      </div>

      <div class="slide-three" data-carousel-sv-target="three">
        <img class="slide-three" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710629254/stellar3_dfeigr.png" alt="">
      </div>

      <div class="slide-four" data-carousel-sv-target="four">
        <img class="slide-four" src="https://res.cloudinary.com/dnx58st8e/image/upload/v1710629250/stellar4_o14xu0.png" alt="">
      </div>

    </div>
  <span class="carousel-arrow carousel-arrow-sv right" data-action="click->carousel-sv#slideright" data-carousel-sv-target="arrowright">→</span>

</div>
