.navbar-style {
  background: $bright-green;
  padding: 0.5%;


  .nav-menu {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    list-style: none;

    .nav-link {
      color: $light-sand;
      margin-right: 4vw;
      margin-bottom: 0;
    }
  }

}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }
