.navbar-style {
  background: $bright-green;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;

  .nav-home {
    margin-left: 8vw;
  }

  .nav-link {
    text-decoration: none;
    color: $light-sand;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    // &:hover {
    //   background-color: $bright-green;
    //   border-radius: 10px;
    // }
  }

  .nav-projects-touch {
    position: relative;
    column-gap: 4vw;
    margin-right: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }

  .nav-project {

    .dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      flex-direction: column;
      background-color: #54BAB9B2;
      padding: 1em;
      border-radius: 5px;

      .dropdown-content {
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:hover .dropdown {
      display: flex;
    }
  }
}
